
#circle {
	width: 95vw;
	height: 95vh;
top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  
  position:absolute;
   background: radial-gradient(#0B853D 3px, transparent 5px, #000 7px, transparent 9px, #0B853D 11px, transparent 13px,  15px, transparent 17px, #000 19px, transparent 21px, #0B853D 23px, transparent 25px, #fff 27px, transparent 29px, #000 31px, transparent 33px);


  background-size: 30px 30px;


	
	
	
}
.a {
   -webkit-animation: adjustHue 1s alternate infinite;
}
     
@-webkit-keyframes adjustHue {
   0% { -webkit-filter: hue-rotate(30deg); }
   50% { -webkit-filter: hue-rotate(60deg); }
   100% { -webkit-filter: hue-rotate(90deg); }   
}
@-webkit-keyframes loading {
  to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes loading {
	to { -moz-transform: rotate(360deg); }
}
@-ms-keyframes loading {
	to { -ms-transform: rotate(360deg); }
}
@keyframes loading {
	to { transform: rotate(360deg); }
}
#circle { 
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: blinker;
    -moz-animation-duration: 3s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    animation-name: blinker;
    animation-duration: 3s;
    animation-timing-function: linear; 
    animation-iteration-count: infinite; color: red; 
} 

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.3; }
    100% { opacity: 1.0; } 
}

@-webkit-keyframes blinker { 
    0% { opacity: 1.0; }
    50% { opacity: 0.3; }
    100% { opacity: 1.0; } 
} 

@keyframes blinker { 
    0% { opacity: 1.0; } 
    50% { opacity: 0.3; } 
    100% { opacity: 1.0; } 
}
.a{
   background: radial-gradient(#0B853D 3px, transparent 5px, #000 7px, transparent 9px, #0B853D 11px, transparent 13px,  15px, transparent 17px, #000 19px, transparent 21px, #0B853D 23px, transparent 25px, #fff 27px, transparent 29px, #000 31px, transparent 33px);
  background-color:#000;
  background-size: 32px 32px;
  overflow:hidden;
  width:100vw;
  height:100vh;
  margin:-10px;
 
}
body{
    transform-style: preserve-3d;
    @include perspective(1000px);
}

/*.name h1{
        font-family: 'Aldrich', sans-serif;
        text-align: center;
        color: #000;
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 20%;
        font-size: 8vw;
        margin: 0 auto;
}*/

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
  background-color: black;
  color: white;
  font-family: 'Aldrich', sans-serif;
}

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.name {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  left:0;
  right:0;
  margin: 0 auto;
  top: 180px;
}

.neon {
  font-family: neon;
  color: #FB4264;
  font-size: 11em;
  text-shadow: 0 0 3vw #F40A35;
}

.flux {
  font-family: neon;
  color: #426DFB;
  font-size: 11em;
  text-shadow: 0 0 3vw #2356FF;
}

.neon {
  animation: neon 2s ease infinite;
  -moz-animation: neon 2s ease infinite;
  -webkit-animation: neon 2s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #1a16fa, 0 0 3vw #1a16fa, 0 0 10vw #1a16fa, 0 0 10vw #1a16fa, 0 0 .4vw #4254f7, .5vw .5vw .1vw #140a3d;
    color: #4292ee;
  }
  50% {
    text-shadow: 0 0 .5vw #22009e, 0 0 1.5vw #22009e, 0 0 5vw #22009e, 0 0 5vw #22009e, 0 0 .2vw #22009e, .5vw .5vw .1vw #2a283b;
    color: #266bff;
  }
}

.flux {
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #5ba7ff;
  }
  50% {
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}

/*.dates{
    position: absolute;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    left:0;
    right:0;
    margin: 0 auto;
    top: 550px;
    font-size: 2em;
}*/

.dates{
  position: absolute;
  top: 570px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:2.6em;
	letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  text-shadow: 
						5px 5px #17009c;
}