
#circle {
	width: 99vw;
	height: 99vh;
	top:5em;
  	left:0;
  	right:0;
  	bottom:7;
  	margin:auto;
  
  position: absolute;
   background: radial-gradient(#0B853D 3px, transparent 5px, #000 7px, transparent 9px, #0B853D 11px, transparent 13px,  15px, transparent 17px, #000 19px, transparent 21px, #0B853D 23px, transparent 25px, #fff 27px, transparent 29px, #000 31px, transparent 33px);
  background-size: 30px 30px;
}
.a {
   -webkit-animation: adjustHue 1s alternate infinite;
}
     
@-webkit-keyframes adjustHue {
   0% { -webkit-filter: hue-rotate(30deg); }
   50% { -webkit-filter: hue-rotate(60deg); }
   100% { -webkit-filter: hue-rotate(90deg); }   
}
@-webkit-keyframes loading {
  to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes loading {
	to { -moz-transform: rotate(360deg); }
}
@-ms-keyframes loading {
	to { -ms-transform: rotate(360deg); }
}
@keyframes loading {
	to { transform: rotate(360deg); }
}
#circle { 
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: blinker;
    -moz-animation-duration: 3s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    animation-name: blinker;
    animation-duration: 3s;
    animation-timing-function: linear; 
    animation-iteration-count: infinite; color: red; 
} 

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.3; }
    100% { opacity: 1.0; } 
}

@-webkit-keyframes blinker { 
    0% { opacity: 1.0; }
    50% { opacity: 0.3; }
    100% { opacity: 1.0; } 
} 

@keyframes blinker { 
    0% { opacity: 1.0; } 
    50% { opacity: 0.3; } 
    100% { opacity: 1.0; } 
}
.a{
   background: radial-gradient(#0B853D 3px, transparent 5px, #000 7px, transparent 9px, #0B853D 11px, transparent 13px,  15px, transparent 17px, #000 19px, transparent 21px, #0B853D 23px, transparent 25px, #fff 27px, transparent 29px, #000 31px, transparent 33px);
  background-color:#000;
  background-size: 32px 32px;
  overflow:hidden;
  width:100vw;
  height:100vh;
  margin:-10px;
 
}
body{
    transform-style: preserve-3d;
    @include perspective(1000px);
}

/*.name h1{
        font-family: 'Aldrich', sans-serif;
        text-align: center;
        color: #000;
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 20%;
        font-size: 8vw;
        margin: 0 auto;
}*/

html,
body {
  margin: 0;
  padding: 0;
  /* width: 100%;
  height: 100%; */
  overflow: auto;
  overflow-y: scroll;
  display: table;
  background-color: black;
  color: white;
  font-family: 'Aldrich', sans-serif;
}

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.name {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  left:0;
  right:0;
  margin: 0 auto;
  top: 5rem;
}

.neon {
  font-family: neon;
  color: #FB4264;
  font-size: 6em;
  text-shadow: 0 0 3vw #F40A35;
}

.flux {
  font-family: neon;
  color: #426DFB;
  font-size: 7em;
  text-shadow: 0 0 3vw #2356FF;
}

.neon {
  animation: neon 2s ease infinite;
  -moz-animation: neon 2s ease infinite;
  -webkit-animation: neon 2s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #1a16fa, 0 0 3vw #1a16fa, 0 0 10vw #1a16fa, 0 0 10vw #1a16fa, 0 0 .4vw #4254f7, .5vw .5vw .1vw #140a3d;
    color: #4292ee;
  }
  50% {
    text-shadow: 0 0 .5vw #22009e, 0 0 1.5vw #22009e, 0 0 5vw #22009e, 0 0 5vw #22009e, 0 0 .2vw #22009e, .5vw .5vw .1vw #2a283b;
    color: #266bff;
  }
}

.flux {
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #5ba7ff;
  }
  50% {
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}

/*.dates{
    position: absolute;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    left:0;
    right:0;
    margin: 0 auto;
    top: 550px;
    font-size: 2em;
}*/

.dates{
  position: absolute;
  text-align: center;
  top: 10em;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:2.5em;
	letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  text-shadow: 
		5px 5px #17009c;
}

 .countdown{
	font-size: 1.5em;
	position: absolute;
	text-align: center;
	top: 25em;
	left: 50%;
	transform: translate(-50%, -50%);
 }

 .countdown td{
	padding: 0 15px
 }

 /*BUTTON*/
 .button {
	 display: flex;
	 align-items: center;
   flex-flow: column;
   position: absolute;
   top: 750px;
   left:0;
   right:0;
   margin:0 auto;
}
 .button a {
	 width: 100%;
	 max-width: 240px;
	 height: 54px;
	 padding: 8px;
	 font-size: 1.2rem;
	 font-weight: 900;
	 color: #3c11c3;
	 text-align: center;
	 text-transform: uppercase;
	 text-decoration: none;
	 box-shadow: 0 0 0 1px inset rgba(236, 232, 225, 0.3);
	 position: absolute;
	 margin: 10px 0;
}
 .button a.white:hover > p {
	 color: #ece8e1;
}
 .button a.white > p {
	 background: #ece8e1;
	 color: #0f1923;
}
 .button a.white > p span.base {
	 border: 1px solid transparent;
}
 .button a.transparent:hover > p {
	 color: #ece8e1;
}
 .button a.transparent:hover > p span.text {
	 box-shadow: 0 0 0 1px #ece8e1;
}
 .button a.transparent > p {
	 background: #0f1923;
	 color: #ece8e1;
}
 .button a.transparent > p span.base {
	 border: 1px solid #ece8e1;
}
 .button a:after, .button a:before {
	 content: "";
	 width: 1px;
	 position: absolute;
	 height: 8px;
	 background: #0f1923;
	 left: 0;
	 top: 50%;
	 transform: translateY(-50%);
}
 .button a:before {
	 right: 0;
	 left: initial;
}
 .button a p {
	 margin: 0;
	 height: 54px;
	 line-height: 54px;
	 box-sizing: border-box;
	 z-index: 1;
	 left: 0;
	 width: 100%;
	 position: relative;
	 overflow: hidden;
}
 .button a p span.base {
	 box-sizing: border-box;
	 position: absolute;
	 z-index: 2;
	 width: 100%;
	 height: 100%;
	 left: 0;
	 border: 1px solid #3c11c3;
}
 .button a p span.base:before {
	 content: "";
	 width: 2px;
	 height: 2px;
	 left: -1px;
	 top: -1px;
	 background: #0f1923;
	 position: absolute;
	 transition: 0.2s ease-out all;
}
 .button a p span.bg {
	 left: -5%;
	 position: absolute;
	 background: #3c11c3;
	 width: 0;
	 height: 100%;
	 z-index: 3;
	 transition: 0.2s ease-out all;
	 transform: skewX(-10deg);
}
 .button a p span.text {
	 z-index: 4;
	 width: 100%;
	 height: 100%;
	 position: absolute;
	 left: 0;
	 top: 0;
}
 .button a p span.text:after {
	 content: "";
	 width: 0px;
	 height: 0px;
	 right: 0;
	 bottom: 0;
	 background: #0f1923;
	 position: absolute;
	 transition: 0.3s ease-out all;
	 z-index: 5;
}
 .button a:hover {
	 color: #ece8e1;
}
 .button a:hover span.bg {
	 width: 110%;
}
 .button a:hover span.text:after {
	 background: #ece8e1;
}

.about{
	margin-left: 2%;
	margin-right: 2%;
	position: absolute;
}
.about h1{
	font-size: 3rem;
	top: 5rem;
}
.about hr{
	display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 10px;
  margin-right: 10px;
  border-style: inset;
  border-width: 2px;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.nav-container{
	background: #6268FF;
}
header{
	display: flex;
	justify-content: space-between;
	padding: 2em;
}

header nav {
	float: right;
}

nav ul{
	display: flex;
}

a{
	display: block;
	padding: 0 1em;
	text-decoration: none;
	color: #000;
}

.badge img{
  display: none;
  position: fixed;
  top:70px;
  right:50px;
  z-index: 10000;
  width: 7em;
}


 @media only screen and (min-width: 1050px){ /*elements properties when display size is a desktop(>1050px) */
	
	.neon {
		font-family: neon;
		color: #FB4264;
		font-size: 12em;
		text-shadow: 0 0 3vw #F40A35;
	}
	
	.flux {
		font-family: neon;
		color: #426DFB;
		font-size: 12em;
		text-shadow: 0 0 3vw #2356FF;
	}
	.dates{
		position: absolute;
		text-align: center;
		top: 12em;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size:3em;
		  letter-spacing:0.1em;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: white;
		text-shadow: 
			  5px 5px #17009c;
	  }
	  /* .countdown{
		align-items: center;
		margin-left: 33%;
		top: 40rem;
		font-size: 2em;

	  } */
	  .button{
		padding: 2rem;
		}
	.badge img{
		display: block;
	}

	.countdown{
	top: 28.5em;
	}
	
	  
}